.img-project1-container
{
  position: absolute;
  width: 600px; /* Set the width of the container */
  height: 400px; /* Set the height of the container */
  background-image: url('../../assets/images/project1.jpg'); /* Specify the URL or path to the image */
  background-size: cover; /* Cover the entire container with the image */
  background-position: center; /* Center the image within the container */
  top: 100px;
  left: 1150px;
}

.img-project2-container
{
  position: absolute;
  width: 600px; /* Set the width of the container */
  height: 400px; /* Set the height of the container */
  background-image: url('../../assets/images/project2.jpg'); /* Specify the URL or path to the image */
  background-size: cover; /* Cover the entire container with the image */
  background-position: center; /* Center the image within the container */
  top: 600px;
  left: 1150px;
}

.img-project3-container
{
  position: absolute;
  width: 600px; /* Set the width of the container */
  height: 400px; /* Set the height of the container */
  background-image: url('../../assets/images/project3.jpg'); /* Specify the URL or path to the image */
  background-size: cover; /* Cover the entire container with the image */
  background-position: center; /* Center the image within the container */
  top: 1100px;
  left: 1150px;
}

.img-project4-container
{
  position: absolute;
  width: 600px; /* Set the width of the container */
  height: 400px; /* Set the height of the container */
  background-image: url('../../assets/images/project4.jpg'); /* Specify the URL or path to the image */
  background-size: cover; /* Cover the entire container with the image */
  background-position: center; /* Center the image within the container */
  top: 1600px;
  left: 1150px;
}